    <div class="full-w">
        <nav class="nav-links">
            <a class="m-show" href="/w/board/terms/use">이용약관</a>
            <span class="m-show">|</span>
            <a class="m-show" href="/w/board/terms/privacy"><strong>개인정보 처리방침</strong></a>
            <span class="m-show">|</span>
            <a class="m-show" href="/w/board/notice">공지사항</a>
            <span class="m-show">|</span>
            <a href="/w/board/faq">자주 묻는 질문</a>
            <span>|</span>
            <a href="/w/board/event">이벤트</a>
            <span>|</span>
            <a href="https://idus.kr/ialAD" target="blank">입점문의</a>
            <span>|</span>
            <a class="m-show" href="https://team.idus.com" target="blank">About idus</a>
            <span>|</span>
            <a href="https://team.idus.com/join-idus" target="blank">인재 영입</a>
        </nav>
    </div>

    <div class="inner-w clf" data-has-inquire-btn="false">
        <div class="logo-footer fl">
            <i class="sp-icon logo-gray"></i>
        </div>

        <div class="text-box fl">
            <strong>(주) 백패커</strong>
            <ul>
                <li>대표이사 : 김동환</li>
                <li>서울특별시 마포구 동교로 19길 12</li>
                <li>사업자 등록번호 : 107-87-83297
                    <a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1078783297"
                       target="blank" class="btn-style-link">
                        사업자 정보확인
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>통신판매업신고 : 2015-서울마포-0440</li>
            </ul>
            <span class="mt-fix1">
                아이디어스는 통신판매중개자이며 통신판매의 당사자가 아닙니다.<br>
                따라서 아이디어스는 상품 거래정보 및 거래에 대하여 책임을 지지 않습니다.
                <span class="copyright">Copyright  © 2021 Backpackr All right reserved.</span>
            </span>
        </div>

        <div class="text-box fl">
            <strong>고객센터</strong>
            <span style="display: inline-block; margin-top: 2px;">(주 7일 오전 10시 ~ 저녁 10시까지)</span>
            <ul>
                <li>
                    <span class="fix-w">카카오톡</span>
                    <a href="https://bit.ly/2wtkOs4"><em style="font-size:12px;">아이디어스</em></a>
                </li>
                <li><span class="fix-w">대표번호</span>1668-3651</li>
                <li><span class="fix-w">메일</span>support@backpac.kr</li>
                <li><span class="fix-w">제휴문의</span>biz@backpac.kr</li>
            </ul>
            <span class="mt-fix2">
                아이디어스 이용 중 궁금하신 점이 있으신가요?<br>
                메일 또는 플러스친구 `아이디어스`로 연락해주세요.<br>
                최선을 다해 도와드리겠습니다.
            </span>
        </div>

        <div class="text-box fr">
            <strong>Follow Us</strong>
            <nav class="sns-list">
                <a href="https://www.facebook.com/idus.me" target="blank" class="sp-icon icon-facebook-c"></a>
                <a href="https://www.instagram.com/idus.me/" target="blank" class="sp-icon icon-instagram-c"></a>
                <a href="https://blog.naver.com/idus_me" target="blank" class="sp-icon icon-blog"></a>
                <a href="https://post.naver.com/my.naver?memberNo=6057293" target="blank"
                   class="sp-icon icon-post"></a>
                <a href="https://twitter.com/IDus_kr" target="blank" class="sp-icon icon-twitter-c"></a>
            </nav>

            <span class="mt-fix3">
                <span class="sp-icon award-reddot fl" style="margin-right: 24px"></span>
                <span class="sp-icon award-idea fr"></span>
            </span>
        </div>
    </div>

    <div class="inner-w clf safe-info">
        <hr class="divider">
        <div class="empty fl"></div>
        <div class="text-box fl isms">
            <a href="https://isms.kisa.or.kr/main/ispims/issue/?certificationMode=list&amp;crtfYear=&amp;searchCondition=2&amp;searchKeyword=%EB%B0%B1%ED%8C%A8%EC%BB%A4&amp;__encrypted=U8oaEwTLg12yqNDZuCwRPMiDRLgcrZjlbxomU5uctoZc1kXWONBhXaf0KhG%2BaV6wpp2zSeTry6yKT1QpQPP4n6Wl4JbzPyTKSn7s1FoRr90UnnwTp%2BW928V1TpyMuwFVMU8D270RkIg564CRAF0bUnkvpnfyAxjhbyn0pSpjvw%2BMlXuoQnR3oJUfvVi%2B1dac8Gnd7jHhSmiDLOX09CuWhVRPx40RuMcaT%2FHbItyyZvQECWvcAvRb36C1zB%2FnwnWRJNfv74iaCKBgpNE%2BERnypNyBfcqQSKf%2BfDsW9aHcpTOO1K747YgBrg%3D%3D"
               target="blank">
                <span class="sp-icon logo-isms fl"></span>
            </a>
            <span class="txt fl">
                [인증범위] 온라인 마켓 플랫폼 운영(아이디어스) <br>
                [유효기간] 2020.11.18 - 2023.11.17
            </span>
        </div>
        <div class="text-box fl escrow">
            <span class="sp-icon escrow fl"></span>
            <span class="txt fl">
                    고객님은 현금 등으로 결제시 당사에서 가입한 <br>
                    구매안전서비스를 이용하실 수 있습니다.
                    <a href="#" onclick="return escrowPopup()" target="blank" class="btn-style-link">
                        가입사실 확인
                        <i class="fa fa-caret-right"></i>
                    </a>
                </span>
        </div>
    </div>