    <input type="hidden" name="isLoggedIn" value="">
    <div class="top-navigation full-w">
        <div class="inner-w clf">
            <div class="nav-btn ui-dropdown" data-disabled="hover">
                <input readonly="" type="text" name="" class="btn-dropdown reset" value="아이디어스 앱 설치하기">
                <section class="menu-dropdown app-install-guide">
                    <h1><span class="sp-icon img-appicon"></span>아이디어스를 스마트폰으로 더욱 편리하게 사용하세요.</h1>
                    <ol>
                        <li>
                            <h2>1. 문자로 앱설치 안내받기</h2>
                            <form class="form-sms" action="/w/main/send/sms/install" method="post"
                                  novalidate="novalidate">
                                <label class="input-text">
                                    <input type="text" placeholder="'-' 없이 번호를 입력하세요" name="cell_phone" required="">
                                </label>
                                <button type="submit" class="btn btn-s btn-point">전송</button>
                            </form>
                            <span>앱 설치 URL 전송을 위하여 휴대폰번호를 입력하며<br>입력된 정보는 저장되지 않습니다.</span>
                        </li>
                        <li>
                            <h2>2. QR코드로 앱설치하기</h2>
                            <img class="qr-code" src="/resources/dist/images/qrcode.png" alt="">
                        </li>
                    </ol>
                </section>
            </div>

            <nav class="fr">
                <input type="text" id="current_user_email" class="hidden" name="current_user_email" value=""
                       readonly="">

                <a id="gnb-login-button" href="/w/login?redirect_uri=https%3A%2F%2Fwww.idus.com%2F" class="nav-btn"
                   data-log-object="login">로그인</a>
                <script>
                    function returnRedirectLoginUrl() {
                        var loginButton = document.getElementById('gnb-login-button');
                        var urlHere = window.location.origin + window.location.pathname + window.location.search;
                        var parsedUri = encodeURIComponent(urlHere);
                        var url = "/w/login" + '?redirect_uri=' + parsedUri;
                        loginButton.setAttribute('href', url);
                    }

                    returnRedirectLoginUrl();
                </script>
                <a href="/w/join" class="nav-btn" data-log-object="member_join">회원가입</a>


                <div class="nav-btn ui-dropdown">
                    <button type="button" class="btn-dropdown">고객센터</button>
                    <ul class="menu-dropdown">
                        <li><a href="/w/board/notice">공지사항</a></li>
                        <li><a href="/w/board/faq">자주 묻는 질문</a></li>
                        <li><a href="mailto:support@backpac.kr">메일로 문의</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div data-v-6991f544="" data-v-daed09fe="" class="SearchHeaderDesktop">
        <div data-v-6991f544="" class="SearchHeaderDesktop__bar"><h1 data-v-6991f544=""
                                                                     class="SearchHeaderDesktop__logo"><a
                data-v-6991f544="" href="/" class="icon-iduslogo"><img data-v-6991f544=""
                                                                       src="/resources/dist/images/logo.svg"
                                                                       alt="IDUS, Unique Lifestyle Guide"></a></h1>
            <nav data-v-6991f544="" class="SearchHeaderDesktop__serviceNav"><a data-v-6991f544="" href="/"
                                                                               class="service active">작품</a> <a
                    data-v-6991f544="" href="/oc" class="service">클래스</a></nav>
            <div data-v-b42e5d28="" data-v-6991f544="" class="SearchInputDesktop">
                <form data-v-b42e5d28="" class="SearchInputDesktop__form"><input data-v-b42e5d28=""
                                                                                 id="header-search" type="text"
                                                                                 autocomplete="off"
                                                                                 placeholder="크리스마스를 검색해보세요">
                    <div data-v-60832986="" data-v-b42e5d28="" class="search-related">
                        <ul data-v-60832986="" class="searchResult"></ul>
                    </div>
                    <label data-v-b42e5d28="" for="header-search">
                        <button data-v-b42e5d28="" type="submit" name="search"
                                class="SearchInputDesktop__searchButton"><i data-v-b42e5d28=""
                                                                            class="idus-icon-search"></i></button>
                    </label></form>
            </div>
            <div data-v-04d77b66="" data-v-6991f544="" class="KeywordTrendingDesktop">
                <button data-v-04d77b66="" type="button" class="KeywordTrendingDesktop__wordSlider"><!----><!---->
                    <!----><!----><!----><!----><!----><!----><!----><a data-v-04d77b66=""
                                                                        class="KeywordTrendingDesktop__slideWord"><em
                            data-v-04d77b66="">10</em>
                        슈톨렌
                    </a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></button> <!---->
            </div>
            <nav data-v-6991f544="" class="SearchHeaderDesktop__profileLink"><a data-v-6991f544="" href="/w/me"
                                                                                class="profile"><i
                    data-v-6991f544="" class="idus-icon-mypage"></i>
                내 정보
            </a> <a data-v-6991f544="" href="/w/cart" class="profile"><span data-v-6991f544="" class="profileBadge">0</span>
                <i data-v-6991f544="" class="idus-icon-cart"></i>
                장바구니
            </a></nav>
            <div data-v-3058e262="" data-v-6991f544="" class="top-nav-nudging"><!---->
                <div data-v-3876aae6="" data-v-3058e262="" class="EduonTooltipNudging">
                    <div data-v-895af704="" data-v-3876aae6="" class="tooltip
    ">
                        오늘의 취미를 골라보세요!
                        <!---->
                        <div data-v-895af704="" class="triangle bottom center">
                            <div data-v-895af704="" class="before"></div>
                            <div data-v-895af704="" class="after"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-w gnb-scroll " data-ui="gnb-scroll" data-state="static">

        <div class="inner-w container_gnb" data-ui="gnb">
            <ul class="ui_gnb" data-state="" data-type=""
                style="left: 0px; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <li class="ui_gnb__menu">
                    <span>카테고리</span>
                    <div class="ui_gnb__submenu">
                        <ul>
                            <li>
                                <a href="/w/main/category/5c6bc7d4-7760-4702-b63f-7f29eca479e3"
                                   data-log-label="product_category"
                                   data-log-object="5c6bc7d4-7760-4702-b63f-7f29eca479e3">디저트, 베이커리, 떡</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/613ac4c3-df73-4a0f-b3dd-362849dabb2a"
                                   data-log-label="product_category"
                                   data-log-object="613ac4c3-df73-4a0f-b3dd-362849dabb2a">음료 (커피, 차 등)</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/fa340e0b-f4b1-4aba-8d9c-a29086d5a8a4"
                                   data-log-label="product_category"
                                   data-log-object="fa340e0b-f4b1-4aba-8d9c-a29086d5a8a4">전통주</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/b3f853b9-333d-4eec-ad04-e4604d9d501b"
                                   data-log-label="product_category"
                                   data-log-object="b3f853b9-333d-4eec-ad04-e4604d9d501b">수제 반찬</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/8daa0fc3-d370-46c5-a58b-9a0c71a6ae08"
                                   data-log-label="product_category"
                                   data-log-object="8daa0fc3-d370-46c5-a58b-9a0c71a6ae08">그 외 수제먹거리</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/4a8cbc36-3af8-4b75-af01-8795782df80d"
                                   data-log-label="product_category"
                                   data-log-object="4a8cbc36-3af8-4b75-af01-8795782df80d">농축수산물</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/d9e8a56d-ae4c-4020-b043-9417fe26fbec"
                                   data-log-label="product_category"
                                   data-log-object="d9e8a56d-ae4c-4020-b043-9417fe26fbec">의류, 홈웨어</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/1616d42d-ea77-11e4-88d5-06530c0000b4"
                                   data-log-label="product_category"
                                   data-log-object="1616d42d-ea77-11e4-88d5-06530c0000b4">패션잡화</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/a9970f75-ea75-11e4-8a46-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="a9970f75-ea75-11e4-8a46-06fd000000c2">지갑 (지폐,카드,동전,명함)</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/bc5f4be5-c6bc-11e3-8b03-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="bc5f4be5-c6bc-11e3-8b03-06fd000000c2">가방, 파우치</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/w/main/category/bc6a17ba-ea75-11e4-8878-06a6fa0000b9"
                                   data-log-label="product_category"
                                   data-log-object="bc6a17ba-ea75-11e4-8878-06a6fa0000b9">시계</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/8b4bf95d-c6bc-11e3-8577-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="8b4bf95d-c6bc-11e3-8577-06f4fe0000b5">섬유, 퀼트</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/1fc3c71a-88d6-4333-a09e-178e85bb742f"
                                   data-log-label="product_category"
                                   data-log-object="1fc3c71a-88d6-4333-a09e-178e85bb742f">남성 수제화</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/65477a55-7f4f-4a0f-9b05-dcaa271a8385"
                                   data-log-label="product_category"
                                   data-log-object="65477a55-7f4f-4a0f-9b05-dcaa271a8385">여성 수제화</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/0556009b-f9c6-11e3-8363-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="0556009b-f9c6-11e3-8363-06fd000000c2">육아, 아동</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/387867a4-0da4-11e4-873e-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="387867a4-0da4-11e4-873e-06f4fe0000b5">반지</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/ac599662-0cdf-11e4-85f1-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="ac599662-0cdf-11e4-85f1-06fd000000c2">귀걸이</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/aef50134-0cdf-11e4-8182-06530c0000b4"
                                   data-log-label="product_category"
                                   data-log-object="aef50134-0cdf-11e4-8182-06530c0000b4">목걸이</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/b12b42eb-0cdf-11e4-85f1-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="b12b42eb-0cdf-11e4-85f1-06fd000000c2">팔찌</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/f0475fb1-c6bb-11e3-954e-06a6fa0000b9"
                                   data-log-label="product_category"
                                   data-log-object="f0475fb1-c6bb-11e3-954e-06a6fa0000b9">그 외 액세서리</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/w/main/category/bec56c93-ea75-11e4-8a46-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="bec56c93-ea75-11e4-8a46-06fd000000c2">꽃 (생화, 드라이, 다육 등)</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/976cfb97-c6bc-11e3-83fc-06530c0000b4"
                                   data-log-label="product_category"
                                   data-log-object="976cfb97-c6bc-11e3-83fc-06530c0000b4">캔들, 디퓨저, 방향제</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/66299878-c6bc-11e3-8577-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="66299878-c6bc-11e3-8577-06f4fe0000b5">인테리어 소품</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/c5010d79-e666-11e3-9874-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="c5010d79-e666-11e3-9874-06fd000000c2">도자기</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/30b3ae0f-c6bc-11e3-8577-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="30b3ae0f-c6bc-11e3-8577-06f4fe0000b5">주방, 생활</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/e866743b-0a33-4030-80c1-3a1ec943b0e4"
                                   data-log-label="product_category"
                                   data-log-object="e866743b-0a33-4030-80c1-3a1ec943b0e4">가구</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/fa8c9d8e-c6bb-11e3-8577-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="fa8c9d8e-c6bb-11e3-8577-06f4fe0000b5">인형, 장난감</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/f6335574-c6bb-11e3-83fc-06530c0000b4"
                                   data-log-label="product_category"
                                   data-log-object="f6335574-c6bb-11e3-83fc-06530c0000b4">반려동물 용품</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/002e6aef-c6bc-11e3-8b03-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="002e6aef-c6bc-11e3-8b03-06fd000000c2">파인아트</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/9f4b9a69-c6bc-11e3-954e-06a6fa0000b9"
                                   data-log-label="product_category"
                                   data-log-object="9f4b9a69-c6bc-11e3-954e-06a6fa0000b9">공예</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/w/main/category/b3b31a1b-ea75-11e4-8a46-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="b3b31a1b-ea75-11e4-8a46-06fd000000c2">휴대폰 케이스</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/a923ab08-0643-11e4-98ba-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="a923ab08-0643-11e4-98ba-06f4fe0000b5">전자기기 관련</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/b00844bc-c6bc-11e3-8577-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="b00844bc-c6bc-11e3-8577-06f4fe0000b5">문구, 팬시</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/e3ba45b3-c165-11e3-8788-06fd000000c2"
                                   data-log-label="product_category"
                                   data-log-object="e3ba45b3-c165-11e3-8788-06fd000000c2">페인팅, 캐리커쳐, 캘리</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/c468e7db-ea75-11e4-b903-06f4fe0000b5"
                                   data-log-label="product_category"
                                   data-log-object="c468e7db-ea75-11e4-b903-06f4fe0000b5">향수, 화장품, 뷰티</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/be3cf842-ea74-11e4-8878-06a6fa0000b9"
                                   data-log-label="product_category"
                                   data-log-object="be3cf842-ea74-11e4-8878-06a6fa0000b9">비누, 천연비누</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                            <li>
                                <a href="/w/main/category/4094e656-c6bf-11e3-83fc-06530c0000b4"
                                   data-log-label="product_category"
                                   data-log-object="4094e656-c6bf-11e3-83fc-06530c0000b4">기타</a>
                                <i class="idus-icon-arrow-right"></i>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="ui_gnb__menu " data-state="active">
                    <a href="/">홈</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/today-recommend-product">오늘의 작품</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/liver-order-product">실시간 구매</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/review">실시간 후기</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/recommend-artist-product">작가님 추천</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/live-recommend-product">실시간 추천</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/popular-category">인기 작품</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/story">스토리</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/new-product">최신 작품</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/artist">인기작가</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/d-place">소담상회</a>
                </li>
                <li class="ui_gnb__menu " data-state="">
                    <a href="/w/main/category">카테고리</a>
                </li>
            </ul>
            <button class="ui_btn toggle_gnb" aria-label="toggle nav ui"><i class="idus-icon-arrow-down"></i>
            </button>
        </div>
    </div>

    <!-- 모바일용 푸터 gnb -->
    <nav class="footer_gnb mobile-show split-5" data-disabled="">

        <a href="/" class="active">
            <i class="idus-icon-home"></i>
            작품
        </a>
        <a href="/oc" class="" data-log-object="class">
            <i class="idus-icon-class"></i>
            클래스
        </a>
        <a href="#">
            <i class="idus-icon-search"></i>
            검색
        </a>
        <a href="/w/main/category" class="">
            <i class="idus-icon-category"></i>
            카테고리
        </a>
        <a href="/w/me" class="" data-log-object="my_page">
            <i class="idus-icon-mypage"></i>
            내 정보
        </a>
        <!---->
    </nav>